h1 {
  color: #07a4b5;
  font-family: "Kalam", cursive;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-family: "Kalam", cursive;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background: #f7ebdb;
  border: 1px solid #dadde1;
  border-radius: 10px;

  padding: 30px;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #07a4b5;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.city,
.search {
  background: #f5f6f6;
  border-color: #07a4b5;
  border-radius: 10px;
  border-width: 2px;
  font-family: "Kalam", cursive;
  font-size: 17px;
  text-align: center;
}
.city {
  margin: 0px 10px 20px 0px;
  padding: 10px 50px;
}
.search {
  margin: 0px 10px 20px 40px;
  padding: 10px;
}

.weather-temperature .active {
  color: #212529;
  font-weight: 500;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-date {
  color: #07a4b5;
  font-family: "Kalam", cursive;
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  text-align: center;
}

.weather-forecast-temperatures {
  font-family: "Kalam", cursive;
  font-size: 14px;
  text-align: center;
}

.weather-forecast-temperatures-min {
  color: grey;
}
