.weather-app {
  background: #f7ebdb;
  border: 1px solid #dadde1;
  border-radius: 10px;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
}
h1 {
  color: #07a4b5;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 34px;
  text-align: center;
}
li {
  list-style: none;
  font-family: "Kalam", cursive;
  font-size: 19px;
}
